@page "/login"

@using Gimpies_Blazor1.Database.Data
@using Gimpies_Blazor1.Database.Models.ViewModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Http
@inject ISnackbar Snackbar
@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager
@attribute [ExcludeFromInteractiveRouting]

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <EditForm OnValidSubmit="Authenticate" EditContext="EditContext" FormName="loginModel">
            <DataAnnotationsValidator />

            <div class="mb-3 text-center">
                <h3>Login</h3>
            </div>
            <div class="mb-3">
                <InputText @bind-Value="Model.Username" class="form-control" placeholder="Gebruikersnaam" />
                <ValidationMessage For="() => Model.Username" />
            </div>
            <div class="mb-3">
                <InputText @bind-Value="Model.Password" class="form-control" type="password" placeholder="Wachtwoord" />
                <ValidationMessage For="() => Model.Password" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Inloggen</button>
            </div>
        </EditForm>
    </div>
</div>


