@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Welkom, <b>@context.User.Identity.Name</b></h3>
    </Authorized>

    <NotAuthorized>
        <h5>Log in om content te kunnen zien.</h5>
    </NotAuthorized>
</AuthorizeView>
