@inherits LayoutComponentBase


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="background-color: darkslategray">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Gimpies Webshop
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu   />
    </MudDrawer>
    <MudMainContent>
        <div class="content">
            @Body
        </div>
    </MudMainContent>

    <MudPaper Class="footer" Square>
        <div class="footer-content">
            <p>&copy; 2025 Bo van Betlehem</p>
            <p>Contact: <a href="mailto:00331585@rijnijssel.nl">00331585@rijnijssel.nl</a></p>
        </div>
    </MudPaper>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
